body{
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
  }
  .navbar__s1{
    color: #a435f0;
    font-size: 30px;
    font-weight: bolder;
  }
  .navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
  }
  .navbar__s2 input{
    width: 80%;
    border: none;
  }
  .navbar__s2 input:focus{
    outline: none;
    
  }
  .navbar__s3{
    display: flex;
    gap: 10px;
  }
  .categories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
  }
  .categories p{
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
  }
  .image img{
    width: 100%;
    
  }
  .Recommended-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }

  .course-card{
    width: 350px;
  }
  .course-card img{
    width: 100%;
    height: 50%;
  }
  .topic{
    padding: 10px;
  }
  .topic-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

  }
  .topic-container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
  }
  .popular{
    padding: 10px;
  }
  .popular-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }
  .footer{
    padding: 30px;
    background-color: black;
    color: white;
  }
  .footer-one{
    display: flex;

  }
  .footer-one p{
    margin: 20px;
  }
  .footer-two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }



